/* Layout */

html {
  height: 100%;
}

body {
  display: flex;
  align-items: stretch;
  min-height: 100%;

  margin: 0;
  gap: 4ch;
}

body > header {
  flex-basis: 50ch;
  flex-shrink: 1;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body > header h1::before {
  content: ' ';
  background-image: url('img/logo.png');
  height: 4em;
  aspect-ratio: 0.75;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: border-box;
  display: inline-block;
}

body > header > h1 {
  padding: 0.2em;
  margin-block: 8em;
  display: flex;
  align-items: center;
  justify-content: center;
}

body > header footer {
  padding: 0.5em;
}

main {
  flex-basis: 100ch;
  flex-shrink: 1;
}
  
form ul {
  display: flex;
  list-style-type: none;
  flex-direction: column;

  padding: 0;
  row-gap: 1em;
  column-gap: 8ch;
}

form ul ul {
  flex-wrap: wrap;
  flex-direction: row;
}

form li {
  display: flex;
  flex-direction: column;
}

input {
}


/* Styling */

body > header {
  background-image: url('img/eug.jpg');
  background-size: cover;
  background-position: center;
}

body > header {
  text-align: center;
  color: white;
}

body > header {
  & h1, & footer {
    background: hsla(0, 0%, 0%, .5);
  }
}

body > header footer {
  margin-top: auto;
  & a {
    color: white;
  }
}
